<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chanhy.cuisine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TabLayoutActivity"></activity>

        <activity android:name=".Activity.SignupActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="76efa79bf0cc649295566db05c21f070ff996844" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>